
@font-face {
    font-family: "Fira Code";
    src: url(assets/fonts/ttf/FiraCode-Bold.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fira Code Regular";
    src: url(assets/fonts/ttf/FiraCode-Retina.ttf);
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: "Fira Code";
    color: white;
    text-align: center;
}

h2{
    font-family: "Fira Code Regular";
    color: white;
    margin: auto;
}

body{
    background-color: black;
}

.points{
    background-color: black;
    border-style: solid;
    border-color: white;
    color: yellow;
    width: 100px;
    height: 100px;
    font-size: 60px;
    align-content: center;
    text-align: center;
}

.localdiv{
    margin-left: 10px;
}

.local{
    margin-left: 39px;
}

.points::-webkit-inner-spin-button{
    display: none;
}

.points::selection{
    color: black;
    background-color: yellow;
}

.mbtn{
    position: static;
    object-position: top;
}
