
@font-face {
    font-family: "Fira Code";
    src: url("assets/fonts/FiraCode/FiraCode-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fira Code Regular";
    src: url("assets/fonts/FiraCode/FiraCode-Retina.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fira Code Light";
    src: url("assets/fonts/FiraCode/Montserrat-Italic-VariableFont_wght.ttf");
    font-weight: normal;
}

#title-bar {
    display: none;
    opacity: 0;
}

*::selection{
    color: black;
    background-color: yellow;
}


h1{
    font-family: "Fira Code";
    color: white;
    text-align: center;
    font-size: 40px;
    margin: 0px;
    margin-top: 40px;
}

h2{
    font-family: "Fira Code Light";
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 2px;
}

h3{
    font-family: "Fira Code Regular";
    color: white;
    margin: auto;
    font-size: 50px;
}

body{
    background-color: black;
}

.points{
    background-color: black;
    border-style: solid;
    border-color: white;
    color: yellow;
    width: 100px;
    height: 100px;
    font-size: 80px;
    align-content: center;
    text-align: center;
    min-width: 20px;
}

.points::-webkit-inner-spin-button{
    display: none;
}

.localdiv{
    flex: 1;
    margin: 10px;
    min-width: 250px;
}

.guestdiv{
    flex: 1;
    margin: 10px;
    min-width: 250px;
}

.pointsdiv{
    color: black;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.btn{
    color: yellow;
    background-color: black;
    border-color: white;
    border-style: solid;
    width: 40px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin: 3px;
}

.foulslabel{
    margin-top: 70px;
}

.rsdiv{
    display: flexbox;
    flex-wrap: wrap;
    text-align: center;
}

.rotatescreen{
    margin: 0px;
    width: 90px;
    height: 90px;
    flex: 1;
    min-width: 20px;
}

.timerdiv{
    display: flexbox;
    flex-wrap: wrap;
    text-align: center;
}

.timerinput{
    background-color: black;
    color: yellow;
    border-color: white;
    border-style: solid;
    font-size: 30px;
    width: 80px;
    margin: 3px;
}