
@font-face {
    font-family: "Fira Code";
    src: url("assets/fonts/FiraCode/FiraCode-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fira Code Regular";
    src: url("assets/fonts/FiraCode/FiraCode-Retina.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fira Code Light";
    src: url("assets/fonts/FiraCode/Montserrat-Italic-VariableFont_wght.ttf");
    font-weight: normal;
}

#title-bar {
    display: none;
    opacity: 0;
}

*::selection{
    color: black;
    background-color: yellow;
}

.points::-webkit-inner-spin-button{
    display: none;
}

<<<<<<< HEAD
@media screen and (min-width: 480px){
    h1{
        font-family: "Fira Code";
        color: white;
        text-align: center;
        font-size: 40px;
        margin: 0px;
        margin-top: 40px;
    }
    
    h2{
        font-family: "Fira Code Light";
        color: white;
        text-align: center;
        font-size: 25px;
        margin: 2px;
    }
    
    h3{
        font-family: "Fira Code Regular";
        color: white;
        margin: auto;
        font-size: 50px;
    }
    
    body{
        background-color: black;
    }
    
    .points{
        background-color: black;
        border-style: solid;
        border-color: white;
        color: yellow;
        width: 100px;
        height: 100px;
        font-size: 80px;
        align-content: center;
        text-align: center;
        min-width: 20px;
    }
    
    .localdiv{
        flex: 1;
        margin: 10px;
        min-width: 150px;
    }
    
    .guestdiv{
        flex: 1;
        margin: 10px;
        min-width: 150px;
    }
    
    .pointsdiv{
        color: black;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .btn{
        color: yellow;
        background-color: black;
        border-color: white;
        border-style: solid;
        width: 40px;
        height: 40px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 32px;
        margin: 3px;
    }
    
    .foulslabel{
        margin-top: 70px;
    }
    
    .rsdiv{
        display: flexbox;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .rotatescreen{
        margin: 0px;
        width: 90px;
        height: 90px;
        flex: 1;
        min-width: 20px;
    }
    
    .timerdiv{
        display: flexbox;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .timerinput{
        background-color: black;
        color: yellow;
        border-color: white;
        border-style: solid;
        font-size: 30px;
        width: 80px;
        margin: 3px;
    }
}




@media only screen and (max-width: 480px){
=======

@media screen and (min-width: 650px){
>>>>>>> 8fcc4c4e58ae605bc15104e7ac9d71afdd00381d
    h1{
        font-family: "Fira Code";
        color: white;
        text-align: center;
<<<<<<< HEAD
        font-size: 25px;
        margin: 0px;
        margin-top: 30px;
=======
        font-size: 60px;
        margin: 0px;
        margin-top: 40px;
>>>>>>> 8fcc4c4e58ae605bc15104e7ac9d71afdd00381d
    }
    
    h2{
        font-family: "Fira Code Light";
        color: white;
        text-align: center;
<<<<<<< HEAD
        font-size: 20px;
=======
        font-size: 25px;
>>>>>>> 8fcc4c4e58ae605bc15104e7ac9d71afdd00381d
        margin: 2px;
    }
    
    h3{
        font-family: "Fira Code Regular";
        color: white;
        margin: auto;
<<<<<<< HEAD
        font-size: 25px;
=======
        font-size: 50px;
>>>>>>> 8fcc4c4e58ae605bc15104e7ac9d71afdd00381d
    }
    
    body{
        background-color: black;
    }
    
    .points{
        background-color: black;
        border-style: solid;
        border-color: white;
        color: yellow;
<<<<<<< HEAD
        width: 60px;
        height: 60px;
        font-size: 50px;
=======
        width: 100px;
        height: 100px;
        font-size: 80px;
>>>>>>> 8fcc4c4e58ae605bc15104e7ac9d71afdd00381d
        align-content: center;
        text-align: center;
        min-width: 20px;
    }
    
    .localdiv{
        flex: 1;
<<<<<<< HEAD
        margin: 0px;
        min-width: 100px;
=======
        margin: 10px;
        min-width: 250px;
>>>>>>> 8fcc4c4e58ae605bc15104e7ac9d71afdd00381d
    }
    
    .guestdiv{
        flex: 1;
<<<<<<< HEAD
        margin: 0px;
        min-width: 100px;
=======
        margin: 10px;
        min-width: 250px;
>>>>>>> 8fcc4c4e58ae605bc15104e7ac9d71afdd00381d
    }
    
    .pointsdiv{
        color: black;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .btn{
        color: yellow;
        background-color: black;
        border-color: white;
        border-style: solid;
<<<<<<< HEAD
        width: 35px;
        height: 35px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        margin: 2px;
    }
    
    .foulslabel{
        margin-top: 50px;
=======
        width: 50px;
        height: 50px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        text-align: center;
        margin: 3px;
    }
    
    .foulslabel{
        margin-top: 70px;
>>>>>>> 8fcc4c4e58ae605bc15104e7ac9d71afdd00381d
    }
    
    .rsdiv{
        display: flexbox;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .rotatescreen{
        margin: 0px;
<<<<<<< HEAD
        width: 60px;
        height: 60px;
=======
        width: 100px;
        height: 100px;
>>>>>>> 8fcc4c4e58ae605bc15104e7ac9d71afdd00381d
        flex: 1;
        min-width: 20px;
    }
    
    .timerdiv{
        display: flexbox;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .timerinput{
        background-color: black;
        color: yellow;
        border-color: white;
        border-style: solid;
        font-size: 30px;
        width: 80px;
<<<<<<< HEAD
        margin: 10px;
    }
}




@media only screen and (max-width: 350px){
    h1{
        font-family: "Fira Code";
        color: white;
        text-align: center;
        font-size: 18px;
        margin: 0px;
        margin-top: 30px;
    }
    
    h2{
        font-family: "Fira Code Light";
        color: white;
        text-align: center;
        font-size: 13px;
        margin: 2px;
    }
    
    h3{
        font-family: "Fira Code Regular";
        color: white;
        margin: auto;
        font-size: 18px;
    }
    
    body{
        background-color: black;
    }
    
    .points{
        background-color: black;
        border-style: solid;
        border-color: white;
        color: yellow;
        width: 45px;
        height: 45px;
        font-size: 35px;
        align-content: center;
        text-align: center;
        min-width: 10px;
    }
    
    .localdiv{
        flex: 1;
        margin: 0px;
        min-width: 70px;
    }
    
    .guestdiv{
        flex: 1;
        margin: 0px;
        min-width: 70px;
    }
    
    .pointsdiv{
        color: black;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .btn{
        color: yellow;
        background-color: black;
        border-color: white;
        border-style: solid;
        width: 25px;
        height: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin: 1px;
    }
    
    .foulslabel{
        margin-top: 50px;
    }
    
    .rsdiv{
        display: flexbox;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .rotatescreen{
        margin: 0px;
        width: 40px;
        height: 40px;
        flex: 1;
        min-width: 20px;
    }
    
    .timerdiv{
        display: flexbox;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .timerinput{
        background-color: black;
        color: yellow;
        border-color: white;
        border-style: solid;
        font-size: 20px;
        width: 55px;
        margin: 10px;
    }
}

=======
        margin: 3px;
    }
    }
@media screen and (max-width: 650px){
    h1{
        font-family: "Fira Code";
        color: white;
        text-align: center;
        font-size: 60px;
        margin: 0px;
        margin-top: 40px;
    }
    
    h2{
        font-family: "Fira Code Light";
        color: white;
        text-align: center;
        font-size: 25px;
        margin: 2px;
    }
    
    h3{
        font-family: "Fira Code Regular";
        color: white;
        margin: auto;
        font-size: 50px;
    }
    
    body{
        background-color: black;
    }
    
    .points{
        background-color: black;
        border-style: solid;
        border-color: white;
        color: yellow;
        width: 100px;
        height: 100px;
        font-size: 80px;
        align-content: center;
        text-align: center;
        min-width: 20px;
    }
    
    .localdiv{
        flex: 1;
        margin: 10px;
        min-width: 250px;
    }
    
    .guestdiv{
        flex: 1;
        margin: 10px;
        min-width: 250px;
    }
    
    .pointsdiv{
        color: black;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .btn{
        color: yellow;
        background-color: black;
        border-color: white;
        border-style: solid;
        width: 50px;
        height: 50px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        text-align: center;
        margin: 3px;
    }
    
    .foulslabel{
        margin-top: 70px;
    }
    
    .rsdiv{
        display: flexbox;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .rotatescreen{
        margin: 0px;
        width: 100px;
        height: 100px;
        flex: 1;
        min-width: 20px;
    }
    
    .timerdiv{
        display: flexbox;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .timerinput{
        background-color: black;
        color: yellow;
        border-color: white;
        border-style: solid;
        font-size: 30px;
        width: 80px;
        margin: 3px;
    }
    }





    @media screen and (max-width: 555px){
        h1{
            font-family: "Fira Code";
            color: white;
            text-align: center;
            font-size: 35px;
            margin: 0px;
            margin-top: 40px;
        }
        
        h2{
            font-family: "Fira Code Light";
            color: white;
            text-align: center;
            font-size: 25px;
            margin: 2px;
        }
        
        h3{
            font-family: "Fira Code Regular";
            color: white;
            margin: auto;
            font-size: 30px;
        }
        
        body{
            background-color: black;
        }
        
        .points{
            background-color: black;
            border-style: solid;
            border-color: white;
            color: yellow;
            width: 40px;
            height: 40px;
            font-size: 30px;
            align-content: center;
            text-align: center;
            min-width: 10px;
        }
        
        .localdiv{
            flex: 1;
            margin: 0px;
            min-width: 200px;
        }
        
        .guestdiv{
            flex: 1;
            margin: 0px;
            min-width: 200px;
        }
        
        .pointsdiv{
            color: black;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
        }
        
        .btn{
            color: yellow;
            background-color: black;
            border-color: white;
            border-style: solid;
            width: 50px;
            height: 50px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 40px;
            text-align: center;
            margin: 3px;
        }
        
        .foulslabel{
            margin-top: 50px;
        }
        
        .rsdiv{
            display: flexbox;
            flex-wrap: wrap;
            text-align: center;
        }
        
        .rotatescreen{
            margin: 0px;
            width: 60px;
            height: 60px;
            flex: 1;
            min-width: 20px;
        }
        
        .timerdiv{
            display: flexbox;
            flex-wrap: wrap;
            text-align: center;
        }
        
        .timerinput{
            background-color: black;
            color: yellow;
            border-color: white;
            border-style: solid;
            font-size: 30px;
            width: 80px;
            margin: 3px;
        }
        }





        @media screen and (max-width: 415px){
            h1{
                font-family: "Fira Code";
                color: white;
                text-align: center;
                font-size: 25px;
                margin: 0px;
                margin-top: 40px;
            }
            
            h2{
                font-family: "Fira Code Light";
                color: white;
                text-align: center;
                font-size: 20px;
                margin: 2px;
            }
            
            h3{
                font-family: "Fira Code Regular";
                color: white;
                margin: auto;
                font-size: 30px;
            }
            
            body{
                background-color: black;
            }
            
            .points{
                background-color: black;
                border-style: solid;
                border-color: white;
                color: yellow;
                width: 40px;
                height: 40px;
                font-size: 30px;
                align-content: center;
                text-align: center;
                min-width: 10px;
            }
            
            .localdiv{
                flex: 1;
                margin: 0px;
                min-width: 150px;
            }
            
            .guestdiv{
                flex: 1;
                margin: 0px;
                min-width: 150px;
            }
            
            .pointsdiv{
                color: black;
                display: flex;
                flex-wrap: wrap;
                text-align: center;
            }
            
            .btn{
                color: yellow;
                background-color: black;
                border-color: white;
                border-style: solid;
                width: 40px;
                height: 40px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 30px;
                text-align: center;
                margin: 3px;
            }
            
            .foulslabel{
                margin-top: 50px;
            }
            
            .rsdiv{
                display: flexbox;
                flex-wrap: wrap;
                text-align: center;
            }
            
            .rotatescreen{
                margin: 0px;
                width: 60px;
                height: 60px;
                flex: 1;
                min-width: 20px;
            }
            
            .timerdiv{
                display: flexbox;
                flex-wrap: wrap;
                text-align: center;
            }
            
            .timerinput{
                background-color: black;
                color: yellow;
                border-color: white;
                border-style: solid;
                font-size: 30px;
                width: 80px;
                margin: 3px;
            }
            }   
            @media screen and (max-width: 340px){
                h1{
                    font-family: "Fira Code";
                    color: white;
                    text-align: center;
                    font-size: 20px;
                    margin: 0px;
                    margin-top: 40px;
                }
                
                h2{
                    font-family: "Fira Code Light";
                    color: white;
                    text-align: center;
                    font-size: 15px;
                    margin: 2px;
                }
                
                h3{
                    font-family: "Fira Code Regular";
                    color: white;
                    margin: auto;
                    font-size: 20px;
                }
                
                body{
                    background-color: black;
                }
                
                .points{
                    background-color: black;
                    border-style: solid;
                    border-color: white;
                    color: yellow;
                    width: 25px;
                    height: 25px;
                    font-size: 15px;
                    align-content: center;
                    text-align: center;
                    min-width: 10px;
                }
                
                .localdiv{
                    flex: 1;
                    margin: 0px;
                    min-width: 100px;
                }
                
                .guestdiv{
                    flex: 1;
                    margin: 0px;
                    min-width: 100px;
                }
                
                .pointsdiv{
                    color: black;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: center;
                }
                
                .btn{
                    color: yellow;
                    background-color: black;
                    border-color: white;
                    border-style: solid;
                    width: 25px;
                    height: 25px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 15px;
                    text-align: center;
                    margin: 3px;
                }
                
                .foulslabel{
                    margin-top: 50px;
                }
                
                .rsdiv{
                    display: flexbox;
                    flex-wrap: wrap;
                    text-align: center;
                }
                
                .rotatescreen{
                    margin: 0px;
                    width: 40px;
                    height: 40px;
                    flex: 1;
                    min-width: 20px;
                }
                
                .timerdiv{
                    display: flexbox;
                    flex-wrap: wrap;
                    text-align: center;
                }
                
                .timerinput{
                    background-color: black;
                    color: yellow;
                    border-color: white;
                    border-style: solid;
                    font-size: 15px;
                    width: 40px;
                    margin: 3px;
                }
                }     
>>>>>>> 8fcc4c4e58ae605bc15104e7ac9d71afdd00381d
